<h3>{{formTitle}}</h3>
<form [formGroup]="tigeForm" (ngSubmit)="onSubmitForm()" class="form">
  <div class="form-group row">
    <!-- <label for="nom" class="col-form-label col-sm-2">Nom</label> -->
    <div class="col-sm-12">
      <mat-form-field appearance="fill" id="select-mat-form-field">
        <mat-label>Nom</mat-label>
        <input matInput type="text" id="nom" formControlName="nom" placeholder="nom de la tige">
      </mat-form-field>
    </div>
  </div>
  <div class="form-group row">
    <!-- <label for="nomLatin" class="col-form-label col-sm-2">Nom latin</label> -->
    <div class="col-sm-12">
      <mat-form-field appearance="fill" id="select-mat-form-field">
        <mat-label>Nom latin</mat-label>
        <input matInput type="text" id="nomLatin" formControlName="nomLatin" placeholder="nom latin">
      </mat-form-field>
    </div>
  </div>
  <div class="form-group row">
    <!-- <label for="prixUnitaire" class="col-form-label col-sm-2">Prix unitaire</label> -->
    <div class="col-sm-12">
      <mat-form-field appearance="fill" id="select-mat-form-field">
        <mat-label>Prix unitaire</mat-label>
        <input matInput type="number" id="prixUnitaire" formControlName="prixUnitaire"
          placeholder="prix unitaire * 100">
      </mat-form-field>
    </div>
  </div>
  <div class="form-group row">
    <!-- <label for="fournisseur" class="col-form-label col-sm-2">Fournisseur</label> -->
    <div class="col-sm-12">
      <mat-form-field appearance="fill" id="select-mat-form-field">
        <mat-label>Sélectionnez un fournisseur</mat-label>
        <mat-select id="fournisseurId" formControlName="fournisseurCtrl">
          <mat-option *ngFor="let fournisseur of fournisseurs" value="{{fournisseur.id}}" ngDefaultControl>
            {{fournisseur.nom}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <button mat-raised-button color="primary" type="submit" [disabled]="tigeForm.invalid">Soumettre</button>
  <!-- class="btn btn-primary"  -->
</form>
