<div class="d-flex">
  <div class="col-sm-4" id="app-bandeau-bouquet" >
    <app-bandeau-bouquet
      [compositionDetail]="compositionDetail"
      [titre]="titre"
      (compoSave)="saveComposition($event)"
      (compoModif)="updateComposition($event)"
      (compoReset)="resetCompo()"
      (compoSaveEvt)="saveCompositionInEvt($event)"
    >
    </app-bandeau-bouquet>
  </div>

  <div class="col-sm-8" id="tables-contenu">
    <mat-tab-group>
      <mat-tab label="Tiges">
        <app-tiges-display (tigesAjoutees)="ajouterElement($event)"></app-tiges-display>
      </mat-tab>
      <mat-tab label="Materiaux">
        <app-materiaux-display (materiauAjoute)="ajouterElement($event)"></app-materiaux-display>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
