<h1 mat-dialog-title>Confirmer la sauvegarde de la composition</h1>
<div mat-dialog-content>
  Composition du {{ data.compo.dateCreation | date: 'dd/MM/yyyy' }}
  <br/>
  Durée de composition :
  {{data.compo.dureeCreation * 60 * 60 * 1000 | date:'HH:mm' : 'UTC' }} -- Prix de vente : {{data.compo.prixUnitaire | number}} € -- TVA : {{data.compo.tva}} %
  <div >
      <ul *ngFor="let element of data.compo.elements">
        <li class="">
          {{element.quantite}} -- {{element.type}} -- {{element.nom}}
        </li>
      </ul>
  </div>
  <mat-form-field appearance="fill" id="nom-compo">
    <input matInput type="text" name="nom" placeholder="nom de la composition" [(ngModel)]="data.compo.nom"/>
  </mat-form-field>
  <mat-form-field appearance="fill" id="nom-compo">
    <mat-label>Sélectionnez un évènement</mat-label>
    <mat-select id="fournisseurId" name="fournisseurCtrl" [(ngModel)]="data.idEvt">
      <mat-option *ngFor="let evt of evenements" value="{{evt.id}}" ngDefaultControl>
        {{evt.nom}}</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<mat-dialog-actions align="end">
  <button
    mat-stroked-button
    color="primary"
    class="ripple"
    [mat-dialog-close]="data"
    [aria-label]="'Ajouter'"
    cdkFocusInitial
  >
    Ajouter
  </button>
  <button
    mat-stroked-button
    class="ripple"
    [mat-dialog-close]="'Cancel'"
    [aria-label]="'Annuler'"
  >
    Annuler
  </button>
</mat-dialog-actions>
