<ngb-pagination [collectionSize]="tiges?.length" [(page)]="page" [maxSize]="5" [rotate]="true" [ellipses]="false" [boundaryLinks]="true"></ngb-pagination>

<ul class="list-group" *ngFor="let tige of tiges | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
  <li class="list-group-item d-flex justify-content-between">
    {{ tige.id }} -- {{ tige.nom }} -- {{ tige.nomLatin }} -- {{ tige.prixUnitaire / 100 }} €/unité
    <form class="form-inline ml-auto" (ngSubmit)="onSubmitQuantite(f)" #f="ngForm">
      <div class="md-form form-group">
          <input class="form-control form-control-sm" type="number" name="quantite" placeholder="quantité souhaitée" [(ngModel)]="quantiteElt" />
      </div>
      <button class="btn-primary" type="submit">
          <fa-icon [icon]="faCheckCircle"></fa-icon>
      </button>
    </form>
    <button class="btn-primary btn-sm" (click)="onClickAjoutComposition(tige)"><fa-icon [icon]="faPlus" id="iconPlus"></fa-icon></button>
  </li>
</ul>

