.no-data-available {
    text-align: center;
  }

  .form-control-sm {
    width: 30%;
  }

  .btn-primary {
    margin-left: 5px;
  }

#researchBarTige{
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 5px;
  padding-left: 15px;
}
