.card-group{
    display: block;
}

.textCompo{
    margin-right: 10px;
  }

.select-mat-form-field {
  width: 30%;
}

.mat-form-field{
  padding-bottom: 0.5rem;
}

::ng-deep .mat-form-field-wrapper{
  padding-bottom: 0rem;
}

::ng-deep .mat-form-field-underline{
  position: initial !important;
}

#btonExpand{
  margin-left: 10px;
  margin-right: 10px;
}

#forfaits{
  display: grid;
}

.card-footer {
  display: grid;
}
