<div >
  <div class="card">
    <div class="card-header d-flex justify-content-between">
      {{titre}}
    </div>
  </div>

  <div class="card">
    <div class="card-header d-flex justify-content-between">
      COMPOSANTS
      <div class="ml-auto">
        <button mat-icon-button color="primary" type="button" (click)="isCollapsed = !isCollapsed"
          [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample" id="btonExpand">
          <fa-icon [icon]="faAngleDoubleDown" *ngIf="isCollapsed" matTooltip="Afficher la liste"></fa-icon>
          <fa-icon [icon]="faAngleDoubleUp" *ngIf="!isCollapsed" matTooltip="Masquer la liste"></fa-icon>
        </button>
        <button mat-icon-button color="primary" matTooltip="Remise à zéro">
          <fa-icon [icon]="faTrash" (click)="onClikResetCompo()"></fa-icon>
        </button>
      </div>
    </div>

    <div id="collapseExample" [ngbCollapse]="isCollapsed">
      <div class="card-body" *ngIf="compositionDetail?.elements?.length > 0">
        <ul class="list-group list-group-flush" *ngFor="let tige of compositionDetail.elements">
          <li class="list-group-item d-flex">
            <span class="textCompo">{{tige.quantite}} {{tige.nom}} -- prix unitaire : {{tige.prixUnitaire | number}} €</span>
            <fa-icon [icon]="faMinusCircle" (click)="onClickRemoveElt(tige)" class="ml-auto" matTooltip="Retirer l'élément"></fa-icon>
          </li>
        </ul>
      </div>
    </div>

    <div class="card-footer text-muted">
      <div >Nombre total de tiges : {{qteTigeTot}}</div>
    </div>
  </div>

  <div class="card">
    <div class="card-header">COUT TOTAL ELEMENTS</div>
    <div class="card-body">
      <div class="card-title">{{coutIntrant | number}}</div>
    </div>
  </div>

  <div class="card">
    <div class="card-header">TEMPS de TRAVAIL</div>
    <div class="card-body">
      <mat-form-field appearance="fill" class="select-mat-form-field">
        <mat-label>Heure</mat-label>
        <input matInput type="number" name="heure" placeholder="00" (change)="onSubmitTempsTravailHeure($event)" [ngModel]="heureTravail" required />
      </mat-form-field>
      :
      <mat-form-field appearance="fill" class="select-mat-form-field">
        <mat-label>Minute</mat-label>
        <input matInput type="number" name="minute" placeholder="00" (change)="onSubmitTempsTravailMinute($event)" [ngModel]="minuteTravail" required />
      </mat-form-field>
    </div>
  </div>

  <div class="card bg-danger border-danger" id="card-tva">
    <div class="card-header d-flex">COUT AVEC TVA - PRIX DE VENTE :
      <div class="ml-auto">{{coutTva | number}} €</div>
    </div>
    <div class="card-footer text-muted">
      <mat-form-field appearance="fill">
        <mat-label>TVA en %</mat-label>
        <input matInput type="number" name="tvaActuelle" placeholder="0 %" [(ngModel)]="tvaActuelle" min=0 (change)="onChangeCalcul()"/>
      </mat-form-field>
    </div>
  </div>

  <div class="card">
    <div class="card-header d-flex">COUT DE REVIENT :
      <div class="ml-auto">{{coutRevient | number}} €</div>
    </div>
    <div class="card-footer text-muted">
      <mat-form-field appearance="fill">
        <mat-label>Taux horaire en €/heure</mat-label>
        <input matInput type="number" name="tauxHoraire" placeholder="0 €/h" [(ngModel)]="tauxHoraire" min=0 (change)="onChangeCalcul()"/>
      </mat-form-field>
    </div>
  </div>
  <div class="card">
    <div class="card-header d-flex">COUT AVEC MARGE :
      <div class="ml-auto">{{coutMarge | number}} €</div>
    </div>
    <div class="card-footer text-muted">
      <mat-form-field appearance="fill">
        <mat-label>Marge actuelle en %</mat-label>
        <input matInput type="number" name="margeActuelle" placeholder="0 %" [(ngModel)]="margeActuelle" min=0 (change)="onChangeCalcul()"/>
      </mat-form-field>
    </div>
  </div>

  <div class="d-flex">
      <button mat-raised-button color="primary" type="button" (click)="onClickSaveComposition()"
              [disabled]="qteTigeTot === 0 || tvaActuelle === 0 || margeActuelle === 0 || tauxHoraire === 0">
        Enregistrer la composition
      </button>
    <div *ngIf="compositionDetail?.id" class="ml-auto">
      <button mat-raised-button color="primary" type="button" (click)="onClickUpdateComposition()"
              [disabled]="qteTigeTot === 0 || tvaActuelle === 0 || margeActuelle === 0 || tauxHoraire === 0">
        Modifier la composition
      </button>
    </div>
  </div>
</div>

