.card-group{
    display: block;
}

.textCompo{
    margin-right: 10px;
  }

#select-mat-form-field {
  width: 30%;
}

#btonExpand{
  margin-left: 10px;
  margin-right: 10px;
}

#forfaits{
  display: grid;
}
