/* You can add global styles to this file, and also import other style files */

@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import "../node_modules/angular-calendar/css/angular-calendar.css";

.dataTables_empty {
    display: none;
  }

  body{
    background-color: #fff8ee;/*#edafb7;*/
    color: #8c423b;/*#2e669e;*/
  }

.list-group-item{
  background-color: #fff8ee;/*#edafb7;*/
}

.card-body {
  background-color: #fff8ee;/*#edafb7;*/
  color: #8c423b;/*#2e669e;*/
}

.card-header {
  background-color: #feefd0;/*#D49DA4;*/
}

.card {
  border-color: #d99d8f;/*#D49DA4;*/
  margin-top: 5px;
}

.card-footer {
  background-color: #d99d8f/*#FAB9C2;*/
}

#iconPlus {
  margin-left: 10px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.snack-bar-success{
  background: darkgreen;
  text-align: center;
  color: white;
}

.snack-bar-failed{
  background: rebeccapurple;
  text-align: center;
  color: white;
}

.justify-content-between{
  align-items: center;
}

.mat-paginator{
  background: #fff8ee;/*#edafb7;*/
}

.titre-form{
  margin-top: 10px;
}

