    <div class="row justify-content-between" id="researchBarMateriau">
      <button mat-raised-button color="primary" type="button" routerLink="/atelier-chant-de-fleur/materiaux/edit/0">Ajouter un nouveau materiau</button>
      <input type="text" class="form-control form-control-sm" name="searchBar" placeholder="Rechercher" (change)="onChangeResearch($event)"/>
      <mat-paginator [length]="length"
        [pageSize]="pageSize"
        [pageSizeOptions]="pageSizeOptions"
        (page)="page = getPaginatorData($event)">
      </mat-paginator>
    </div>

    <div *ngIf="materiaux.length > 0">
      <ul class="list-group" *ngFor="let materiau of materiaux | slice: lowValue : highValue; let i = index">
        <li class="list-group-item d-flex justify-content-between">
          {{ materiau.nom }} -- {{ materiau.prixUnitaire }} €/unité -- Fournisseur : {{materiau.fournisseurRest.nom}}
          <div class="ml-auto">
            <mat-form-field appearance="fill" id="select-mat-form-field" [hidden]="disableAjout">
              <mat-label>quantité souhaitée</mat-label>
              <input matInput type="number" name="quantite" [(ngModel)]="quantiteElt[i]" (click)="onClickDisabledOthers(i)" [disabled]="editing[i]" min="0"/>
            </mat-form-field>
          </div>
          <button mat-icon-button color="primary" (click)="onClickAjoutComposition(materiau, i)" [hidden]="disableAjout" [disabled]="editing[i]" matTooltip="Ajouter à la composition"><fa-icon [icon]="faPlus" id="iconPlus"></fa-icon></button>
          <button mat-icon-button color="primary" routerLink="/atelier-chant-de-fleur/materiaux/edit/{{materiau.id}}" [disabled]="editing[i]" matTooltip="Modifier le matériau"><fa-icon [icon]="faEdit"></fa-icon></button>
        </li>
      </ul>
    </div>

    <div *ngIf="materiaux.length === 0" class="alert alert-danger">Aucun matériau enregistré en base.</div>

