<h3>{{formTitle}}</h3>
<form [formGroup]="fournisseurForm" (ngSubmit)="onSubmitForm()" class="form">
  <div class="form-group row">
    <!-- <label for="nom" class="col-form-label col-sm-2">Nom</label> -->
    <div class="col-sm-12">
      <mat-form-field appearance="fill" id="select-mat-form-field">
        <mat-label>Nom</mat-label>
        <input matInput type="text" id="nom" formControlName="nom" placeholder="Nom du fournisseur" required>
      </mat-form-field>
    </div>
  </div>
  <div class="form-group row">
    <!-- <label for="siret" class="col-form-label col-sm-2">Numéro SIRET</label> -->
    <div class="col-sm-12">
      <mat-form-field appearance="fill" id="select-mat-form-field">
        <mat-label>Numéro SIRET</mat-label>
        <input matInput type="text" id="siret" formControlName="siret" placeholder="123456789">
      </mat-form-field>
    </div>
  </div>
  <div class="form-group row">
    <!-- <label for="adresse" class="col-form-label col-sm-2">Adresse postale</label> -->
    <div class="col-sm-12">
      <mat-label>Adresse postale</mat-label>
      <mat-form-field appearance="fill" id="select-mat-form-field">
        <input matInput type="text" id="adresse" formControlName="adresse" placeholder="Adresse du fournisseur">
      </mat-form-field>
    </div>
  </div>
  <div class="form-group row">
    <!-- <label for="codePostal" class="col-form-label col-sm-2">Code postal</label> -->
    <div class="col-sm-12">
      <mat-form-field appearance="fill" id="select-mat-form-field">
        <mat-label>Code postal</mat-label>
        <input matInput type="text" id="codePostal" formControlName="codePostal" placeholder="12345">
      </mat-form-field>
    </div>
  </div>
  <div class="form-group row">
    <!-- <label for="ville" class="col-form-label col-sm-2">Ville</label> -->
    <div class="col-sm-12">
      <mat-form-field appearance="fill" id="select-mat-form-field">
        <mat-label>Ville</mat-label>
        <input matInput type="text" id="ville" formControlName="ville" placeholder="Ville">
      </mat-form-field>
    </div>
  </div>
  <div class="form-group row">
    <!-- <label for="email" class="col-form-label col-sm-2">Adresse mail</label> -->
    <div class="col-sm-12">
      <mat-form-field appearance="fill" id="select-mat-form-field">
        <mat-label>Adresse mail</mat-label>
        <input matInput type="email" id="codePostal" formControlName="codePostal" placeholder="email@mail.fr">
      </mat-form-field>
    </div>
  </div>
  <div class="form-group row">
    <!-- <label for="telephone" class="col-form-label col-sm-2">Numéro de téléphone</label> -->
    <div class="col-sm-12">
      <mat-form-field appearance="fill" id="select-mat-form-field">
        <mat-label>Numéro de téléphone</mat-label>
        <input matInput type="text" id="telephone" formControlName="telephone" placeholder="0123456789">
      </mat-form-field>
    </div>
  </div>
  <button mat-raised-button color="primary" type="submit" [disabled]="fournisseurForm.invalid">Soumettre</button>
  <!-- class="btn btn-primary"  -->
</form>
