<h1 mat-dialog-title>Confirmer la sauvegarde de la composition</h1>
<div mat-dialog-content>
  {{data.composition.nom}}
  Composition du {{ data.composition.dateCreation | date: 'dd/MM/yyyy' }}
  <br/>
  Durée de composition :
  {{data.composition.dureeCreation * 60 * 60 * 1000 | date:'HH:mm' : 'UTC' }} -- Prix de vente : {{data.composition.prixUnitaire | number}} € -- TVA : {{data.composition.tva}} %
  <div >
    <ul *ngFor="let element of data.composition.elements">
      <li class="">
        {{element.quantite}} -- {{element.type}} -- {{element.nom}}
      </li>
    </ul>
  </div>
  <mat-form-field appearance="fill" id="nom-compo">
    <input matInput type="number" name="quantite" placeholder="quantité souhaitée" [(ngModel)]="quantite"/>
  </mat-form-field>
</div>
<mat-dialog-actions align="end">
  <button
    mat-stroked-button
    color="primary"
    class="ripple"
    [mat-dialog-close]="quantite"
    [aria-label]="'Ajouter'"
    cdkFocusInitial
  >
    Ajouter
  </button>
  <button
    mat-stroked-button
    class="ripple"
    [mat-dialog-close]="'Cancel'"
    [aria-label]="'Annuler'"
  >
    Annuler
  </button>
</mat-dialog-actions>

