<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="ISO-8859-1">
		<title>Insert title here</title>
	</head>

	<body>
		<h1>Mes bouquets</h1>
		<div>
			<div th:each ="bouquet:${mesBouquets}">
				<div th:utext="${bouquet.id}"></div>
				<div th:utext="${bouquet.saison}"></div>
				<div th:utext="${bouquet.prixUnitaire}"></div>
				<div th:utext="${bouquet.couleur}"></div>
				<div th:utext="${bouquet.taille}"></div>
				<div th:utext="${bouquet.compoFlorale}"></div>
				<div th:utext="${bouquet.cheminImage}"></div>				
			</div> 
		</div>
		
		<div>
			<a th:href="@{/ajouter_bouquet}">AJOUTER UN BOUQUET</a>
		</div>
		
	</body>
</html>