<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="ISO-8859-1">
		<title>Insert title here</title>
	</head>

	<body>
		<h1>Mes bouquets</h1>
		<div>
			<div th:each ="bouquet:${mesBouquets}" class="row">
				<!--  <div th:utext="${bouquet.idBouquet}"></div>-->
				<span th:utext="${bouquet.saison.saison}"></span>
				<span th:utext="${bouquet.prixUnitaire}"></span>
				<span th:utext="${bouquet.couleur}"></span>
				<span th:utext="${bouquet.taille}"></span>
				<span th:utext="${bouquet.compoFlorale}"></span>
				<span th:utext="${bouquet.cheminImage}"></span>
				<span><img th:src="@{/G:/Images/{image}(image=${bouquet.cheminImage})}"></span>
				<hr> 				
			</div>			
		</div>
		
 
		<div>
			<a th:href="@{/ajouter_bouquet}">AJOUTER UN BOUQUET</a>
		</div>
		<hr>
		<div>
			<a th:href="@{/ajouter_fleur}">AJOUTER UNE FLEUR</a>
		</div>
		
	</body>
</html>