<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="ISO-8859-1">
		<title>Insert title here</title>
	</head>
	
	<body>
		<h1>Liste des fleurs composant le bouquet</h1>
		<h2>Identifiant du bouquet en cours de creation</h2>
		<div th:text="${session.elementCree.idElement}" th:unless="${session == null}"></div>		
		<div>
			<form th:action="@{/liste_fleurs_bouquet}" th:object="${fleur}" method="POST">
				<input type="hidden" name="idElementBouquet" th:value="${session.elementCree.idElement}"/>
				<div th:each ="fleur:${mesFleurs}" class="row">					
					<input type="checkbox" name="ajoutBouquet" th:checked="${ajoutBouquet}"/>			
					<span th:utext="${fleur.idElement}"></span>
					<input type="hidden" name="idElementFleur" th:value="${fleur.idElement}"/>
					<span th:utext="${fleur.nom}"></span>
					<span th:utext="${fleur.nomLatin}"></span>
					<span th:utext="${fleur.couleur}"></span>
					<span th:utext="${fleur.saison.saison}"></span>
					<hr> 				
				</div>	
				<input type="submit" value="Ajouter la selection au bouquet" />		
			</form>	
		</div>		
	</body>
</html>