<h3 mat-dialog-title>{{data.titre}}</h3>
<mat-dialog-content>
  Evenement du {{ data.dateCreation | date: 'dd/MM/yyyy' }}
  <mat-form-field appearance="fill" id="nom-compo">
    <mat-label>Nom de l'évènement</mat-label>
    <input matInput type="text" name="nom" placeholder="nom de l'évènement" [(ngModel)]="data.evenement.nom"/>
  </mat-form-field>
  <mat-form-field appearance="fill" id="nom-compo">
    <mat-label>Date prévue pour l'évènement</mat-label>
    <input matInput [matDatepicker]="picker" placeholder="date prévue de l'évènement" [(ngModel)]="data.evenement.datePrevue"/>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <mat-form-field appearance="fill" id="nom-compo">
    <mat-label>Budget prévu par le client pour l'évènement</mat-label>
    <input matInput type="number" name="budget" placeholder="budget prévu pour l'évènement" [(ngModel)]="data.evenement.budget"/>
  </mat-form-field>
  <div >
    <ul *ngFor="let element of data.evenement.compositions">
      <li class="">
        {{element.quantite}} {{element.composition?.nom}} -- {{element.composition?.prixUnitaire | number}} €
      </li>
    </ul>
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button
    mat-stroked-button
    color="primary"
    class="ripple"
    [mat-dialog-close]="data.evenement"
    [aria-label]="'Ajouter'"
    cdkFocusInitial>
    Ajouter
  </button>
  <button
    mat-stroked-button
    class="ripple"
    [mat-dialog-close]="'Cancel'"
    [aria-label]="'Annuler'">
    Annuler
  </button>
</mat-dialog-actions>
