<nav class="navbar navbar-expand-sm bg-light col-12">
    <div class="container-fluid">
      <div class="navbar-collapse">
        <ul class="nav navbar-nav">
            <li routerLinkActive="active" class="nav-item nav-link"><a routerLink="atelier-chant-de-fleur/tiges">Tiges</a></li>
            <li routerLinkActive="active" class="nav-item nav-link"><a routerLink="atelier-chant-de-fleur/materiaux">Materiaux</a></li>
            <li routerLinkActive="active" class="nav-item nav-link"><a routerLink="atelier-chant-de-fleur/fournisseurs">Fournisseurs</a></li>
        </ul>
      </div>
    </div>
  </nav>
