h1, .h1 {
    text-align: center;
}

.jumbotron {
    margin-bottom: 0;
}

.container {
    background-color: #edafb7;
    color: #2e669e;
}

#app-bandeau-bouquet{
  margin-left: 0px;
  padding-left: 0px;
}

