h1, .h1 {
    text-align: center;
}

.jumbotron {
    margin-bottom: 0;
}

.container {
    background-color:#fff8ee;/*#edafb7;*/
    color: #8c423b;/*#2e669e;*/
}

#app-bandeau-bouquet{
  margin-left: 0px;
  padding-left: 0px;
}

#tables-contenu{
  padding-right: 0px;
}

