<div class="container col-md-12">
<!--  <div class="jumbotron jumbotron-fluid">-->
<!--    <h1>Outil de composition de bouquets</h1>-->
<!--  </div>-->
  <app-menu-navigation></app-menu-navigation>
  <app-bandeau-client *ngIf="clientSelected" [clientSelected]="clientSelected"></app-bandeau-client>
  <router-outlet></router-outlet>
<!--  <div class="d-flex">-->
<!--    <div class="col-sm-4" id="app-bandeau-bouquet" >-->
<!--      <app-bandeau-bouquet [ngbCollapse]="isCollapsedTot" (clientSelected)="selectClient($event)"></app-bandeau-bouquet>-->
<!--      &lt;!&ndash; <button mat-icon-button color="primary" type="button" (click)="isCollapsedTot = !isCollapsedTot"-->
<!--        [attr.aria-expanded]="!isCollapsedTot" aria-controls="collapseExample" id="btonExpand">-->
<!--        <fa-icon [icon]="faCaretLeft"></fa-icon>-->
<!--      </button> &ndash;&gt;-->
<!--    </div>-->
<!--    <div class="col-sm-8" id="tables-contenu">-->
<!--      <router-outlet></router-outlet>-->
<!--    </div>-->
<!--  </div>-->
</div>

